{% for item in items %}

    <div class="media">

        <div class="media-left">
            <i class="fa fa-calendar fa-2x text-muted"></i>
        </div>

        <div class="media-body">
            <h4 class="media-heading">
                <a href="{{ item.get_permalink() }}" target="_blank">
                    {{ item.get_title() }}
                </a>

                <br>

                <small>
                    {{ item.get_date()|date('F j, Y') }}
                </small>
            </h4>

            {{ item.get_description()|striptags }}
        </div>

    </div>

    {% if not loop.last %}
        <hr>
    {% endif %}

{% endfor %}