{% for item in items %}

    <p>
        <a href="{{ item.get_permalink() }}" target="_blank">
            <h2 class="ui header">
                <div class="content">
                    {{ item.get_title() }}
                    <div class="sub header">{{ item.get_date()|date('F j, Y') }}</div>
                </div>
            </h2>
        </a>

        {{ item.get_description()|striptags }}
    </p>

    {% if not loop.last %}
        <div class="ui divider"></div>
    {% endif %}

{% endfor %}